<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587283047081-k3h2gp3seckipijt4mb3ojlb9neafbjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587283047081-k3h2gp3seckipijt4mb3ojlb9neafbjg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQR9-LJmrlEvYIENnHE3vs44PJwEkC4Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>587283047081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.minden.prod</string>
	<key>PROJECT_ID</key>
	<string>cl-minden</string>
	<key>STORAGE_BUCKET</key>
	<string>cl-minden.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587283047081:ios:64214b08a9e28e2d033fb8</string>
</dict>
</plist>
