<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587283047081-64ukiqqgcgoojq62od3fik9sp5t0101g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587283047081-64ukiqqgcgoojq62od3fik9sp5t0101g</string>
	<key>API_KEY</key>
	<string>AIzaSyAQR9-LJmrlEvYIENnHE3vs44PJwEkC4Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>587283047081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.minden.dev</string>
	<key>PROJECT_ID</key>
	<string>cl-minden</string>
	<key>STORAGE_BUCKET</key>
	<string>cl-minden.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587283047081:ios:6e0e4c4fd9a60205033fb8</string>
</dict>
</plist>