<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444345760847-bcal7nfpobs29uqsgpbkncqn66ee450t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444345760847-bcal7nfpobs29uqsgpbkncqn66ee450t</string>
	<key>API_KEY</key>
	<string>AIzaSyAVyL_z8-Nr4BLN8mm9UyWtq9oHBUC4fNk</string>
	<key>GCM_SENDER_ID</key>
	<string>444345760847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.minden.MinApp</string>
	<key>PROJECT_ID</key>
	<string>minapp-22f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>minapp-22f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444345760847:ios:ff195b02b7a017414b3e3a</string>
</dict>
</plist>